body
{
	background-image: url(../img/GazetteBack2.jpg);
	background-color: rgba(255,255,255,1);
}
#nav-menu
{
	list-style-type: none;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
}

#nav-menu a
{
	text-decoration: none;
	text-transform: uppercase;
}
#useless-links ul
{
	padding-left: 0px;
}
#useless-links ul li
{
	text-decoration: none;
	text-align: left;
	text-transform: none;
	list-style-type: none;
}
.main-nav-link-cont a:hover
{
	color: blue;
}
#nav-menu>p
{
	text-align:center;
	color: white;
}
.nav-reg-toolbar
{
	top:0%;
	width: 17%;
	height:100%;
	position:fixed;
	margin: 0px 10px 0px 5px;
	padding: 2px;
	float:left;
	background: linear-gradient(270deg,#CDCDC1, #8B8B83)
}
.nav-reg-toolbar p{
	text-align: center;
}
.white-nav-divider
{
	height:0.2em;
	background-color:white;
	box-shadow:  0 0 5px rgba(255,255,255,0.7);
}
#subscribe-form
{
	width: 95%;
	margin: auto;
}
#subscribe-form label
{
	margin: 5px 0 2px 0;
}
#subscribe-form legend
{
	font-family: serif Times;
	font-size: 12px;
	font-style:italic;
}
#general-data
{
	border: 1px dotted white;
	border-radius: 5px;
	background: rgba(139,136,120,0.8);
	margin: 3px auto;
}
#general-data *
{
	display:inline-block;
}

#general-data label
{
	width: 100%;
	margin: 5px;
	font-style: normal;
	font-size: 90%;
	text-transform:uppercase;
}
#general-data>label>input:focus
{
	background-color: rgba(0,255,0,.5);
}
#general-data label input
{
	width: 55%;
	margin-top: -5px;
	float:right;
}
#form-buttons
 {
 	border: 1px dotted white;
	border-radius: 5px;
	background: rgba(139,136,120,0.8);
	margin: 3px auto;
 }
#form-buttons *
{ 	 
	display:inline-block;
	width: 48%;
	margin: 2px auto;
}

#main-info-container
{
	width:80%;

	margin: 2px 5px 5px 20%;
	border: 1px solid red;
	display:block;
	background: rgba(255,255,255,0.8);
}

#main-menu-strip
{
	text-align: justify;
  	line-height: 0;
	background: linear-gradient( 0deg, #CDCDC1, #8B8B83);
	padding-left: 0px;
}
#main-menu-strip:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}
#main-menu-strip li
{
  display: inline-block;
  text-align: left;
  height: 70px;
  width: 23%;
 
  /* Восстанавливаем обнулённые свойства */
  line-height: normal;
  font-size: 14px;
 
  /* Opera Presto */
  vertical-align: top;
  cursor:pointer;
}
#main-menu-strip>li>ul
{
	position:relative;
	top:5px;
	height:20px;
	padding-left: 0px;
	text-align: center;
	display: none;
}
#main-menu-strip>li:hover>ul
{
	display:block;
	cursor:pointer;
	
}
.main-menu-item>img
{
	padding-left:40%;
	width:20%;
}

#search-container label
{
	width: 95%;
	position: relative;
	
}
#search-container>label
{
	height:50%;
	margin-top: 25%;
}
#search-container img{
		margin-top: 20px;
		margin-bottom: -10px;
}
#search-container label input
{
	width: 75%;
}
h1,h3
{
	text-align:center;
	margin-top:0px;
}
h1
{
	transition: all 1s ease 0s;
}
h1:hover
{
	color:green;
}
h1:hover + h3
{
	transition: all 1s ease 1s;
	color:red;
}
#slider-pic
{
	margin:15px auto;
	height:250px;
	width: 95%;
	background: url(../img/City3.jpeg) no-repeat 0 0;
	background-size: 100% 100%;
	border: 1px solid black;
	position:relative;
}
#audio-container
{
    /*  */
    display: inline-block;
    display: -moz-inline-box;
    vertical-align: bottom;
    position:absolute;
    bottom:0px;
    right:0px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#news-article
{
    height: 600px;
  	width: 95%;
  	margin: 10px auto;
  	border: 1px solid black;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap:20px;
    -moz-column-gap: 20px;
    column-gap:20px;
    column-rule-color:  #ccc;
    column-rule-style:  solid;
    column-rule-width:  1px;
    background: rgba(128,128,128,0.9);
}

.separate-news-container
{
	width: 280px;
	height: 45%;
	border: 1px solid gray;
	margin: 0px auto 10px auto;
	page-break-inside: avoid;
	background:linear-gradient(90deg, #FFF5EE, #EEE5DE);
}
.separate-news-container a
{
	text-decoration: none;
}
.news-item-pic 
{
	display: block;
	width: 95%;
	margin: 3px auto;
}
.news-item-text
{
	display: block;
	width: 95%;
	margin: 3px auto;
}
.news-item-pic
{
	height: 50%;
}
.news-item-text
{
	height:45%;
	overflow-y: scroll;
	word-wrap: break-word;
}
footer
{
	width: 95%;
	height: 50px;
	padding: 5px 0 5px 0;
	margin: 10px auto;
	background: linear-gradient(90deg, #FFF5EE, #EEE5DE);
	opacity: 0.7;
}
footer p{
	margin: 2px;
	padding:0px;
	text-align: left;
}
