/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/
*
{
margin: 0px auto;
padding: 0px;
}

a:link {
	color: #01569A;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:visited {
	color: #01569A;
}

body {
	
	background: url(images/back1.gif) repeat-x;
	font: 13px Arial, Helvetica, sans-serif;
	color: #666666;
}

#content
{

}

#back
{
max-width: 1200px;
min-width: 800px;
margin: 0 auto;
overflow: hidden;
}

#header {
	height: 369px;
	text-align: left;		
}

#menu
{
width: 538px;
height: 58px;
padding-left: 140px;
background: url(images/buttons.gif) no-repeat;
}

#menu ul {
	list-style: none;	
}

#menu li {
	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 79px;
	height: 38px;
    display: block;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding-top: 20px;
	font-size: 12px;
	text-transform: uppercase;
}

#menu a:hover {
	width: 79px;
    height: 38px;
	color: #004586;
	text-decoration: underline;
	background: url(images/buttons_r.gif) repeat-x;
}


#logo {
background: url(images/header.jpg) no-repeat;
width: 678px;
height: 258px;
text-align: left;
padding-top: 50px;
}


#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 16px;
	color: #01569A;
}

#logo H1
{
padding: 0px;
margin: 0px;
}

#logo H2 a
{
font-size: 10px;
padding: 0px;
margin: 0px;
}

#main
{
padding: 10px;
padding-top: 40px;
background: #000 url(images/Animeted-snow.gif)
}

#left
{
	width: 220px;
	float: left;
}

#left H3
{
width: 200px;
height: 26px;
font-size: 14px;
font-weight: bold;
padding-left: 20px;
padding-top: 10px;
text-transform: uppercase;
color: #000000;
background: url(images/title.gif) repeat-x
}

#left ul {
	list-style: none;

}

#left li
{
background: url(images/title_back.gif) no-repeat;
}

#left li ul {
	border: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#left li li {
	padding: 4px 20px;
    background: url(images/small.gif) no-repeat left;
}

#left a {
	color: #01569A;
}
#left a:visited {
	color: #01569A;
}

#left p
{
padding: 10px;
}

#calendar1 {
	padding: 0 10px 20px 10px;
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar thead {

}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #now {
	background: #696969;
	border: 1px solid #ff0000;
	font-weight: bold;
	color: #ffffff
}

#center .date2 {
	padding: 0;
	padding-top: 3px;
}

.date2 {
	float: left;
	width: 53px;
	height: 54px;
	background: url(images/date.gif) no-repeat;
	text-transform: uppercase;
	text-align: center;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
}


.date2 b {
	display: block;
	font-size: 35px;
	color: #2F6AA2;
}


#center
{
padding-right: 10px;
margin: 0px 300px auto;
max-width: 1400px;
min-width: 900px;
}

#center H4
{
	margin: 0;
	padding: 0px;
	font-size: 12px;
	color: #01569A;
}

#center a
{
color: #01569A;
text-decoration: none;
}

#center p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

#center h2 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	color: #01569A;
}
.date {
	text-align: right;
	color: #808080;
	font-size: 11px;
}

.date a {
	color: #D72020;
}



#footer {
	height: 50px;
	clear: both;
	padding-top: 70px;
	background: url(images/footer.gif) repeat-x bottom;
}

#footer p {
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: #01569A;
}

#footer a {
	color: #01569A;
}

#right
{
	width: 200px;
	height: 500px;
	border: 1px solid black;
	float: right;
	word-wrap: break-word;

}
#center-left-text
{
	width: 30%;
	min-width: 150px;
}
#center-right-text
{
	width: 30%;
	min-width: 150px;
}
#center-left-text, #center-right-text
{
	display: inline-block;
	margin: 5px;
}
.menu-button
{
	color: black;
	width: 95%;
	margin: 0px auto;
	padding: 0;
	box-shadow: 0 0 15px 5px black;
	border-style: solid;
	border-width: 5px;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(rgba(0, 0, 255, 1))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(red, rgba(0, 0, 255, 1)) 1 100%;
    -moz-border-image: -moz-linear-gradient(red, rgba(0, 0, 255, 1)) 1 100%;    
    -o-border-image: -o-linear-gradient(red, rgba(0, 0, 255, 0)) 1 100%;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 255, 1)) 1 100%;
    transition: 1s ease 0s;
}
.menu-button:hover
{
	color: green;
	
}
.menu-button:focus
{
	color: red;
	text-transform: uppercase;
}

#center>div>p:nth-child(3n+2):first-letter
{
	color: red;
	font-size: 26px;
	font-style: italic;
	font-weight: 600;
}
